set editing-mode vi
set completion-ignore-case On
set bell-style none

$if mode=vi
    set keymap vi-command
    "gg": beginning-of-history
    "G": end-of-history
    set keymap vi-insert
    "jj": vi-movement-mode
    # play nice with others in the office that use your term
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-a": beginning-of-line
    "\C-e": end-of-line
    "\C-f": forward-char
    "\C-b": backward-char
    "\C-l": clear-screen

# the following requires bash 4.3+ and readline 6.3+
set show-mode-in-prompt
