[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/jnurmine/Zenburn
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim-bufferline"]
	path = vim-bufferline
	url = https://github.com/bling/vim-bufferline
